.listItem {
    list-style: none;
    
    padding: .75em 1em;
    margin-bottom: 1em;
    border: 3px solid #414141;
    border-radius: .5em;
}

.listItem > p{
    margin-bottom: .25em;
}

.closed{
    background-color: #eee;
    border: 3px solid #b7b7b7;
}

.open{
    border: 3px solid #22c29d;
}