.textInput{
    font-size: 1.25em;
    display: block;
  
    background: #f4f4f4;
    border: 3px solid #9f9f9f;
  
    padding: .5em;
  
    width: 100%;
    border-radius: .25em;
  }
  
.error{
    border: 3px solid red;
  }
  
.errorMsg{
    color: red;
    font-size: .8em;
    font-style: italic;
  }