*, 
body{
  box-sizing: border-box;
  color: #414141;
  transition: all .4s;
}

.searchResults{
  width: 80%;
  margin: 0 auto;
}

.searchUser{
  text-align: center;
}

/* Move to search form element module? */
.searchForm{
  display: block; 
  width: 80%;
  max-width: 400px;
  margin: 2rem auto;
}